#main-image {
    width: 510px;
    height: 200px;
    margin: 0 auto 0 auto;
}

#memo {
    width: 630px;
    height: 300px;
    margin: 0 auto 0 auto;
}

/*#sa{
    float: left;
    width: 240px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    list-style:none;
    color: #ff9900;
}
}
