body{
    background-color: #f7f7f7;/*背景*/
    margin: 0 auto;/* 中央寄せ　*/
}


header{
    width: 1200px;        /* 横幅1200px　*/
    height: 100px;/* 横幅100px　*/
    margin: 0 auto;/* 中央寄せ　*/
}

h1{
    height:60px;              /* 縦の高さ60px */
    line-height: 60px;
    color: #22454f;/*字の色*/
    background-color: #28a6cc;/*背景*/
    padding: 10px;/* 横幅100px　*/
}

ul{
    width: 1200px;        /* 横幅1200px　*/
    height: 40px;/* 横幅100px　*/
}

li{
    float:left;
    width: 300px;        /* 横幅1200px　*/
    height: 40px;/* 横幅100px　*/
    color: #62b4cc;/*字の色*/
    background-color: #394548;/*背景*/
    text-align:center;
}

footer{
    width: 1200px;        /* 横幅1200px　*/
    height: 50px;/* 横幅100px　*/
    margin: 0 auto;/* 中央寄せ　*/
    background-color: #0b303b;/*背景*/
}
